.project {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.projectSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  max-height: 100vh;
  padding: 3rem;
}

.mockImage {
  max-width: 100%;
  height: auto;
}

.projectSection .left {
  padding: 40px;
  transition: all 0.2s ease-in-out;
}

.projectSection .left:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 10px;
  background: #062a4f;
}

.projectDescription {
  color: #ded;
}

.projectSection .left:hover > .projectDescription {
  color: white;
}
.projectSection .left:hover > h1{
  color: #ffa07a;
}

.projectSection .left .button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: #ffffff;
  background-color: #0e74bc;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.projectSection .left .button:hover {
  background-color: #084c8d;
  transform: scale(1.05);
}

.projectSection .left .button:active {
  background-color: #062a4f;
  transform: scale(0.95);
}

.projectDescription p {
  letter-spacing: 1.2px;
  line-height: 1.8;
  font-size: 1.2rem;
}

.pVideo {
  display: flex;
  justify-content: center;
}

.pImage {
  display: none;
  height: 100%;
  cursor: zoom-in;
}

@media (max-width: 1024px) {
  .projectDescription p {
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .pVideo {
    display: none;
  }

  .pImage {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .project {
    flex-direction: column-reverse;
  }
  
  .projectSection {
    width: 100%;
    height: 50%;
    align-items: center;
  }

  .projectDescription p {
    letter-spacing: 1.2px;
    line-height: 1.2rem;
  }

  .projectSection .left {
    padding: 20px;
  }
}

@media (max-width: 468px) {
  .project .right{
    display: none;
  }

  .projectSection{
    height: 100%;
  }

  .projectDescription p {
    letter-spacing: 1px;
    line-height: 1.1rem;
  }

  .projectSection .left {
    padding: 5px;
  }
}
