.pheader {
  padding: 3rem;
}

.pheader .title {
  line-height: 4.5rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.pheader .title span {
  color: #ffa07a;
}

.pheaderDescription {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.pheader hr {
  clear: both;
  margin: 40px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.1)
  );
}

.pheaderDescription .left {
  line-height: 2rem;
  font-size: 1.3rem;
  text-align: justify;
}

.pheaderDescription .right {
  display: flex;
  justify-content: center;
}

.pheaderDescription .right iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.pheaderDescription div {
  width: 50%;
}

.features {
  display: flex;
  gap: 1rem;
}

.features .item {
  flex-basis: 100%;
  text-align: center;
}

.features .counter p {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
}

.features svg {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px;
}

.features svg:hover {
  scale: 1.2;
}

.item h3 {
  color: #ffa07a;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .pheaderDescription {
    flex-direction: column;
  }

  .pheaderDescription div {
    width: 100%;
  }

  .features {
    gap: 0.5rem;
  }
  
  .features .counter p {
    font-size: 1.8rem;
  }
  
  .features svg {
    font-size: 1.6rem;
  }
  
  .item h3 {
    color: #ffa07a;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    gap: 3rem;
  }

  .features .counter p {
    font-size: 2.8rem;
  }

  .features svg {
    font-size: 2rem;
  }

}

@media (max-width: 468px) {
}
