* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(to bottom, #031526, #132536);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.container section {
  height: 100vh;
  scroll-snap-align: center;
}

li{
  list-style-type: none;
}

.container {
  max-width: 1536px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
