.splashscreen{
    height: 100vh;
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashscreen span{
    color: white;
    font-size: 1.4rem;
}

.splashscreen .spacing{
    letter-spacing: 3px;
}